[Unit]
Description=pdist cluster server

[Service]
Environment="HOME=/root"
ExecStart=/opt/pdist/venv/bin/python -u /opt/pdist/pdist.py
Type=simple

[Install]
WantedBy=multi-user.target
