[Unit]
Description=pdist cluster server

[Service]
Environment="HOME=/root"
ExecStart=/bin/bash /opt/pdist/start.sh
Type=simple

[Install]
WantedBy=multi-user.target
